<div class="what-i-do-section">
  <h2>What I Do</h2>
  <ul>
    <li>
      Drive success, 3/3 major projects delivered
      <a href="/track-record/" class="info-icon" title="Click to jump to my track record">&#8505;</a>
    </li>
    <li>Start effective agile teams and processes</li>
    <li>Create practical, data-driven process models</li>
    <li>Enhance workflow using automations and AI integration</li>
  </ul>

  <h2>What I Don’t Do</h2>
  <ul>
    <li>Overcomplicate processes</li>
    <li>Settle for less than optimal ux</li>
    <li>Avoid pressing conversations or challenging feedback</li>
  </ul>
</div>

